POSTGRES_DB_HOST=devops-postgres-dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=dev_chronocare
POSTGRES_PORT=5432

PGADMIN_MAIL=user-name@domain-name.com
PGADMIN_PASS=strong-password

NODE_ENV=dev
FRONT_PORT=3000
BACK_PORT=4000
POSTGRES_DATA=postgres-dev-data

DOCKER_SUFFIX=dev
JWT_SECRET=chut

# SMTP
SMTP_EMAIL=
SMTP_PASSWORD=
